@import url("https://fonts.googleapis.com/css?family=Dekko|Lato:900|Rock+Salt");

body {
  background-image: url(https://images.unsplash.com/photo-1612036782180-6f0b6cd846fe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 150px;
  font-family: Times, Times New Roman, serif;
  background-color: rgb(188, 228, 196);
}

h1 {
  text-align: center;
  font-family: "Dekko", cursive;
}

.quiz-title {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  font-weight: 800;
  border: white;
  font-size: 60px;
  font-style: italic;
  color: white;
}

.quiz-score {
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  border: 5px solid grey;
  background-color: rgba(234, 221, 221, 0.227);
  width: 100px;
  color: red;
}

.quiz-question {
  text-align: center;
  line-height: 1.3rem;
  margin-bottom: 2rem;
}

.quiz-options {
  list-style: none;
  margin: 1rem 0;
}

.quiz-foot button {
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
}

#try-again {
  display: none;
}

span {
  text-align: center;
}

.selected {
  background-color: white !important;
  border: white;
  box-shadow: white;
  color: blue;
  margin: 0.8rem 0;
  padding: 0.5rem 1.2rem;
  transition: color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

li {
  border-radius: 0.5rem;
  font-weight: 600;
  margin: 0.8rem 0;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  border: 3px solid rgb(172, 172, 241);
  background-color: rgb(172, 172, 241);
  color: white;
  box-shadow: 0 5px 0 0 rgb(172, 172, 241);
  /* transition: color 0.2s ease-in-out; */
  /* transition: background 0.2s ease-in-out; */
}

form {
  background-color: white;
  justify-content: center;
  text-align: center;
}

p {
  justify-content: center;
}

.question {
  background-color: brown;
}

#check-answer {
  display: flex;
  position: relative;
  margin: 0;
  position: absolute;
  top: 50%;
}

#result {
  padding: 0.6rem 0;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
}

#result li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 25px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgb(172, 172, 241);
}
